# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#vim plugins files
.ycm_extra_conf.*

#binary file
src/linthesia

#autotools file
.deps
.libs
.dirstamp

libtool
Makefile.in
Makefile
aclocal.m4
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
stamp-h1
