# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#autotools file
Makefile.in
Makefile
aclocal.m4
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
libtool
src/.deps/
src/.libs
src/libmidi/.deps/
src/libmidi/.libs/
